<div class="footer-section">
  <div style="min-width: 159xp;" class="d-flex  justify-content-between align-items-center g-2 ">
    <div><img style="width: 26px; height: 26px; border-radius: 32px ; border: 0.4px solid #0000001A;" src="assets\images/man.png" alt="man"></div>
    <div class="d-flex flex-column justify-content-between align-items-start gap-2 mx-2">
      <div >
        <p class="mb-0 text-up">{{"footer.createdBy" | translate}}</p>
      </div>
      <div >
        <p class="mb-0 text-down">{{"footer.createdByValue" | translate}}</p>
      </div>

    </div>
  </div>
  <div >
    <div class="text-up">{{"footer.createdDate" | translate}}</div>
    <div class="d-flex  align-items-center gap-2 my-2">
      <p class="mb-0 text-down ">{{"footer.createdDateValue" | translate}}</p>
      <div style="width: 6px; height: 6px; border-radius: 50%; background-color: #E8E8E8;" ></div>
      <p class="mb-0 text-down">{{"footer.createdTimeValue" | translate}}</p>
    </div>
  </div>
</div>
