<!-- // language selector -->
<div dir="ltr" class="d-flex justify-content-center align-items-center my-3">
  <div class=" d-flex  justify-content-between align-items-center ">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle [checked]="LocalLang === 'ar'" value="ar" #lang1 (change)="onLanguageChange(lang1)">Arabic</mat-button-toggle>
      <mat-button-toggle [checked]="LocalLang === 'en'" value="en" #lang2 (change)="onLanguageChange(lang2)">English</mat-button-toggle >
    </mat-button-toggle-group>
  </div>
</div>
<!-- // header section -->
<div class="header-class">
  <div class=" d-flex  justify-content-between align-items-center header-inner-class">
    <div class="d-flex align-items-center gap-2">
<div class="logo" style="text-align: center;">
        <span>#</span></div>
      <div style="font-weight: 600; font-size: 14px">{{'number' | translate}}</div>
    </div>
    <div class="d-flex justify-content-center align-items-center close-icon "><span>x</span></div>
  </div>
</div>
<div>
</div>
<!-- // custemer number section -->
 <div class="customer-section-class">
  <div style="height: 32px;" class="d-flex justify-content-between align-items-center" >
    <div class="d-flex justify-content-between align-items-center customer-number-class ">
      <p class="number">{{selectedCustomerFromChild.number}}</p>
      <div class="is-used-class">
        <p>{{"isUsed" | translate}}</p>
      </div>
    </div>
    <div class="number-icon-class">
      <p  mat-button [matMenuTriggerFor]="menu">...</p>
<mat-menu style="background-color: #F8F8F8;" class="menu-list" #menu="matMenu">
  <button  mat-menu-item>
    <div class="d-flex justify-content-between align-items-center">
      <div>{{"editNumber" | translate}} </div><div style="padding: 8px;" ><fa-icon style="" [icon]="panIcon"></fa-icon></div>
    </div>
  </button>
  <button  mat-menu-item>
    <div class="d-flex justify-content-between align-items-center">
      <div style="color: red;">{{"cancelAppointment" | translate}} </div><div style="padding: 8px;" ><fa-icon style="color: red;" [icon]="hireEye"></fa-icon></div>
    </div>
  </button>
</mat-menu>
    </div>
   </div>
   <app-customer-info [customer]="selectedCustomerFromChild"></app-customer-info>
  </div>
  <app-customer-table (selectedCustomer)="getSelectedCustomer($event)"></app-customer-table>
<app-footer></app-footer>
